{% load staticfiles %} {% load bootstrap3 %}


<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>MovieApp</title>
  {% bootstrap_css %} {% bootstrap_javascript jquery=True %}
  <link rel="stylesheet" type="text/css" href="{% static " style.css " %}">
</head>

<body>
  {# <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>#}
  <div class="container">
    <h1>THE Movie Ratings Ultimate Ratingsbase</h1>

    <div style="float: right;">
      {% if user.is_authenticated %} Logged in as {{ user.username }}
      <a href="{% url 'logout' %}">Logout</a> {% else %}
      <a href="{% url 'login' %}">Login</a>
<br>
      <a href="{% url 'user_register'%}">Register</a>
      {% endif %}
    </div>
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
    <footer>
      <strong>Created from THE MovieLens Ratings Data</strong>
    </footer>
  </div>
</body>

</html>
