<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title></title>
  </head>
  <body>
    <h1>Movie Ratings</h1><div style="float: right;">
+    {% if user.is_authenticated %}
+    Logged in as {{ user.username }} -
+    <a href="{% url 'logout' %}">Logout</a>
+    {% else %}
+    <a href="{% url 'login'%}">Login</a><br><br>
     <a href="{% url 'user_register'%}">Register</a>
+    {% endif %}
+  </div>

      {% block content %}
      {% endblock %}
    <footer>
        <strong>Created from the MovieLens 1 million ratings+ dataset</strong>
    </footer>
  </body>
</html>
